body{
  margin:0;
  padding:0;
  font-family: sans-serif;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .3s;
}
nav.black{
    background: rgba(0,0,0,0.8);
    height: 100px;
    padding: 10px 100px;

}


.logo{
  height: 50px;
  float: left;
  margin: 16px 48px;

}
nav ul{
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}
nav ul li{
  list-style: none;

}
nav ul li a{
  line-height: 80px;
  color:#fff;
  padding:12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}
a:hover{
  color: red;
}

nav.black ul li a{
  color: #fff;
}
nav ul li a:focus{
  outline: none;
}
nav ul li a.active{
  background: #E2472F;
  color: #fff;
  border-radius: 6px;

}
.active:hover{
  color: red;
}
section.sec1{
  width:100%;
  height:60vh;
  background: linear-gradient(rgba(0, 0,100, 0.5),rgba(0, 0, 100, 0.5)),url(download.jpg);
  background-size: cover;
  background-position: center;
}
.content{
  margin-top: 80px;
}
.content p{
  width: 900px;
  margin: 30px auto;;
  text-align: justify;
  font-size: 20px;
  line-height: 30px;
}
